/* CSS declarations go here */
/*#loginButtons {
	float: right;
}*/

.btn {
	margin: 10px;
	padding: 25px;
	background-color: rgb(240,240,240);
	float: left;
	text-align: center;
	width: 140px;
}
#newLeadForm {
    width: 300px;
    background-color: rgb(220,220,220);
    padding: 20px;
    /*text-align: center;*/
    margin: auto;
}