/* CSS declarations go here */
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.bigBtn {
	margin: 	10px;
	/*padding: 	20px;*/
	/*background-color: rgb(240,240,240);*/
	float: 		left;
	/*text-align: center;*/
	width: 		140px;
}
#newLeadForm {
    width: 		300px;
    background-color: rgb(220,220,220);
    padding: 	20px;
    /*text-align: center;*/
    margin: 	auto;
}

.pageLabel{
	margin: 	20px;
	text-align: center;
}

a#login-sign-in-link,
a#login-name-link {
	color: white;
}
#loginButtons{
	margin-left: 30px;
}

div.clickView{
	height: 100%;
	width: 100%;
}

a.clickView {
	color: inherit;
}
a.clickView:hover {
	text-decoration: inherit;
}

.btnRawCSV {
	float: right;
}

#viewLeadsTable td,
#viewLeadsTable th {
	border: 1px solid #bbb;
	padding: 2px;
}