/* CSS declarations go here */

.bigBtn {
	margin: 	10px;
	/*padding: 	20px;*/
	/*background-color: rgb(240,240,240);*/
	float: 		left;
	/*text-align: center;*/
	width: 		140px;
}
#newLeadForm {
    width: 		300px;
    background-color: rgb(220,220,220);
    padding: 	20px;
    /*text-align: center;*/
    margin: 	auto;
}

/*#viewLeadsTable {
	width: 		800px;
	margin: 	10px 10px 50px 10px;
}*/

.pageLabel{
	margin: 	20px;
	text-align: center;
}

a#login-sign-in-link,
a#login-name-link {
	color: white;
}

div.clickView{
	height: 100%;
	width: 100%;
}

a.clickView {
	color: inherit;
}
a.clickView:hover {
	text-decoration: inherit;
}