
/*filter styling*/
#daterange, 
#appDateRange, 
#followDateRange,
#expectOrientDateRange,
#orientDateRange {
  text-align: center;
}
#daterange:hover, 
#appDateRange:hover, 
#followDateRange:hover,
#expectOrientDateRange:hover,
#orientDateRange:hover {
  cursor: pointer;
}



.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

/*d3 styling*/
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 25%;*/
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/*General CSS*/
.bigBtn {
	margin: 	10px;
	/*padding: 	20px;*/
	/*background-color: rgb(240,240,240);*/
	float: 		left;
	/*text-align: center;*/
	width: 		140px;
}

a#login-sign-in-link,
a#login-name-link {
	color: white;
}
#loginButtons{
	margin-left: 30px;
}

div.clickView{
	height: 100%;
	width: 100%;
}

a.clickView {
	color: inherit;
}
a.clickView:hover {
	text-decoration: inherit;
}

.btnRawCSV {
	float: right;
}

#viewLeadsTable td,
#viewLeadsTable th {
	border: 1px solid #bbb;
	padding: 2px;
}