<template name="analysis">
	<!-- {{> fpBulletChart}} -->
	{{> dateRangeCont}}
	{{> fpSourceChart}}
</template>

<template name="fpSourceChart">
  
	<div class="container">
		<div class="col-sm-12 plotContainer">
			{{#if Template.subscriptionsReady}}
				<h3 class="text-center">Inquiry Sources: {{totalLeads}} Total</h3>
				{{> barChart}}
			{{else}}
    			<h4 class="text-center">Loading...</h4>
			{{/if}}
		</div>
	</div>

</template>

<template name="barChart">
	<div id="barChart"></div>
	<!-- {{buildChart}} -->
</template>

<template name="fpBulletChart">
	<div class="container">
		<div class="col-sm-12 plotContainer">
			<h3 class="text-center">Mr. Bullet Chart</h3>
			<div id="bulletChart"></div>

		</div>
	</div>
</template>