<template name="dateRangeCont">
	<div class="panel-group">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" href="#collapse1">Filters</a>
	      </h4>
	    </div>
	    <div id="collapse1" class="panel-collapse collapse">
	      <div class="panel-body">
			<form class="form-horizontal" role="form">
        		<div class="form-group">
					<label class="control-label col-sm-2" for="daterange">Inquiry Date:</label>
					<div id="inqDateSelector" class="btn-group col-sm-3">
					    <button type="button" id="allInqDateBtn" class="btn btn-primary active">All </button>
					    <button type="button" id="filteredInqDateBtn" class="btn btn-primary">Within Range</button>
					</div>
					<div id="daterangeDiv" class="col-sm-7" style="display: none;">
						<input class="form-control dateinput" type="text" id="daterange" name="daterange" value="01/01/2015 - 01/31/2015" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label text-center col-sm-2" for="appDateRange">Application Date:</label>
					<div id="submitSelector" class="btn-group col-sm-3">
					    <button type="button" id="allAppBtn" class="btn btn-primary active">All </button>
					    <button type="button" id="submittedAppBtn" class="btn btn-primary">Within Range</button>
					</div>
					<div id="appSubmitDiv" class="col-sm-7" style="display: none;">
						<input class="form-control dateinput" type="text" id="appDateRange" name="appDateRange" value="01/01/2015 - 01/31/2015" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label text-center col-sm-2" for="followDateRange">Followup Date:</label>
					<div id="followupSelector" class="btn-group col-sm-3">
					    <button type="button" id="allFollowupBtn" class="btn btn-primary active">All </button>
					    <button type="button" id="followupBtn" class="btn btn-primary">Within Range</button>
					</div>
					<div id="followupDiv" class="col-sm-7" style="display: none;">
						<input class="form-control dateinput" type="text" id="followDateRange" name="followDateRange" value="01/01/2015 - 01/31/2015" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label text-center col-sm-2" for="expectOrientDateRange">Expected Orientation:</label>
					<div id="expectOrientSelector" class="btn-group col-sm-3">
					    <button type="button" id="allExpectOrientBtn" class="btn btn-primary active">All </button>
					    <button type="button" id="expectOrientBtn" class="btn btn-primary">Within Range</button>
					</div>
					<div id="expectOrientDiv" class="col-sm-7" style="display: none;">
						<input class="form-control dateinput" type="text" id="expectOrientDateRange" name="expectOrientDateRange" value="01/01/2015 - 01/31/2015" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label text-center col-sm-2" for="orientDateRange">Orientation Date:</label>
					<div id="orientSelector" class="btn-group col-sm-3">
					    <button type="button" id="allOrientBtn" class="btn btn-primary active">All </button>
					    <button type="button" id="orientBtn" class="btn btn-primary">Within Range</button>
					</div>
					<div id="orientDiv" class="col-sm-7" style="display: none;">
						<input class="form-control dateinput" type="text" id="orientDateRange" name="orientDateRange" value="01/01/2015 - 01/31/2015" />
					</div>
				</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
</template>