<template name="addLead">
	<h2 class="pageLabel">Add a New Potential Foster Parent</h2>
	{{> leadForm}}	
</template>

<template name="leadForm">
	<!-- {{log}} -->
	<div class="container">
		<div class="col-sm-12">
			<form id="newLeadForm">
				<div class="form-group">
				  <label for="name">Name:</label>
				  <input type="text" value={{name}} name="leadName" class="form-control" id="name">
				</div>

				<div class="form-group">
				  <label for="leadInquiryDate">Date of Inquiry Origination:</label>
				  <input type="date" name="leadInquiryDate" value={{inquiryDate}} class="todayDefault form-control" id="leadInquiryDate">
				</div>

				<div class="form-group">
					<label for="leadSource">Referral Source: </label>
					<select class="form-control" name="leadSource" id="leadSource">
					    <option disabled="disabled" selected="selected">Please Select</option>
					    {{#each categories}}
					        <option value="{{this}}">{{this}}</option>
					    {{/each}}
					</select>
				</div>

				<div class="form-group">
					<label for="sourceDetails">Referral Details:</label>
					<textarea class="form-control" rows="2" name="sourceDetails" id="sourceDetails" value="{{sourceDetails}}"></textarea>
				</div>

				<div class="form-group">
				  <label for="leadExpectedOrientation">Date of Expected Orientation:</label>
				  <input type="date" name="leadExpectedOrientation" value={{expectOrientDate}} class="form-control" id="leadExpectedOrientation">
				</div>

				<div class="form-group">
				  <label for="leadFollowupDate">Date for Followup:</label>
				  <input type="date" name="leadFollowupDate" value={{followupDate}} class="form-control" id="leadFollowupDate">
				</div>

				<div class="form-group">
				  <label for="leadOrientAttendDate">Date Orientation Attended:</label>
				  <input type="date" name="leadOrientAttendDate" value={{orientAttendDate}} class="form-control" id="leadOrientAttendDate">
				</div>

				<div class="form-group">
				  <label for="leadAppSubmitDate">Date of Application Submitted:</label>
				  <input type="date" name="leadAppSubmitDate" value={{appSubmitDate}} class="form-control" id="leadAppSubmitDate">
				</div>

				<div class="form-group">
					<label for="leadAppStatus">Application Status: </label>
					<select class="form-control" name="leadAppStatus" id="leadAppStatus">
					    <option disabled="disabled" selected="selected">Please Select</option>
					    {{#each appStatus}}
					        <option value="{{this}}">{{this}}</option>
					    {{/each}}
					</select>
				</div>

				<div class="form-group">
				  <label for="leadAppDecisionDate">Date of Application Decision:</label>
				  <input type="date" name="leadAppDecisionDate" value={{appDecisionDate}} class="form-control" id="leadAppDecisionDate">
				</div>

				<div class="form-group">
				  <label for="leadReasonDiscont">Reason for Discontinuation:</label>
				  <input type="text" value={{reasonDiscont}} name="leadReasonDiscont" class="form-control" id="leadReasonDiscont">
				</div>

				<div class="form-group">
				  <label for="leadHomeOpenDate">Date Home Opened:</label>
				  <input type="date" name="leadHomeOpenDate" value={{homeOpenDate}} class="form-control" id="leadHomeOpenDate">
				</div>

				<div class="form-group">
				  <label for="leadHomeOpenNotes">Home Opened Notes:</label>
				  <input type="text" value={{homeOpenNotes}} name="leadHomeOpenNotes" class="form-control" id="leadHomeOpenNotes">
				</div>

				<div class="form-group">
				  <label for="leadPhoneNum">Phone Number:</label>
				  <input type="tel" value={{phoneNum}} name="leadPhoneNum" class="form-control" id="leadPhoneNum">
				</div>

				<div class="form-group">
				  <label for="leadEmail">Email Address:</label>
				  <input type="email" value={{email}} name="leadEmail" class="form-control" id="leadEmail">
				</div>

				<div class="form-group">
				  <label for="leadStreetAddress">Street Address:</label>
				  <input type="text" value={{streetAddress}} name="leadStreetAddress" class="form-control" id="leadStreetAddress">
				</div>

				<div class="form-group">
				  <label for="leadBorough">Borough:</label>
				  <input type="text" value={{borough}} name="leadBorough" class="form-control" id="leadBorough">
				</div>

				<div class="form-group">
				  <label for="leadZipCode">Zip Code:</label>
				  <input type="text" value={{zipCode}} name="leadZipCode" class="form-control" id="leadZipCode">
				</div>

				{{#if _id}}
		    		<button id="submit" type="submit" class="btn-primary btn-block updateLeadBtn">Update FP</button>
		    	{{else}}
		    		<button id="submit" type="submit" class="btn-primary btn-block createLeadBtn">Create FP Record</button>
		    	{{/if}}
			</form>
		</div>
	</div>
</template>

<template name="editLead">
	<h2 class="pageLabel">Edit this potential foster parent</h2>
	{{> leadForm}}
	{{setDropdownValue 'leadAppStatus' this.appStatus}}
	{{setDropdownValue 'leadSource' this.source}}
</template>